<script>
    lyric = JSON.parse(@Html.Raw(Json.Encode(ViewBag.lyrics)));
    $("#pdata").append(lyric.lyric);
</script>


<div class="row">
    <div class="jumbotron" style="text-align: center; padding-top: 10px; padding-bottom: 10px" id="flagLyrics">

        <h1>Lyrics</h1>
        <h3><strong>@ViewBag.title</strong>
        </h3>


        <p id="pdata"></p>
    </div>
</div>

