<!DOCTYPE html>
<html lang="en">
<head>
@RenderPage("~/Views/Shared/header.cshtml")
    
</head>
<body>
  <div id="fb-root"></div>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="panel panel-primary">
            <div id="thumbnail" class="hidePlayer"  data-html="true" data-container="body" data-toggle="popover" data-placement="right" data-content="play">
            <button id="amazon" data-amazon="anthmu-20" class="btn btn-warning btn-sm amazon" style="position:absolute;margin-top:210px;width:100%;border-radius:0px"><i class="fa fa-shopping-cart"></i> buy on amazon</button>
            	<div id="player">  
            		<div id="ytapiplayer">You need flash!</div>
            	</div>
            	 <a href=""><img src="/images/no-cover.png"></a>

            </div>           

              <div class="navbar navbar-default" id="playlist">
	             <div class="list-group">
	                <span  class="list-group-item active" data-ignore="true">	                    
                            
                            <div class="btn-group" >
                            
                            </div>	 
                            <button type="button" id="downloadmp3" title="download mp3" class="btn btn-primary btn-xs">
                               <i class="fa fa-cloud-download"></i> mp3
                            </button>
                             <button type="button" id="lyric" title="lyrics" class="btn btn-primary btn-xs">
                               <i class="fa fa-align-center"></i> lyrics
                            </button>
                            <input type="text" id="volume" class="col-xs-12" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide">
                           


	                </span>
	                <div id="playlist-items">
	                </div>                 
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="navbar navbar-default" style="margin-bottom:0px;z-index:999">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span id="menu-toggle" href="#" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></span><i class="fa fa-music"></i> BooMBoX <i class="fa fa-music"></i></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li id="videoPlayer" title="Video"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li id="random" title="Random"><a href="#"><i class="fa fa-random"></i></a></li>
                        <li class="active" id="stopRadio" style="display: none" onClick=" stop_radio(); "><a href="#"><i class="fa fa-rss"></i> Stop radio</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Top"><i class="fa fa-star"></i></a>
                            <ul class="dropdown-menu">
                                <li id="topArtist"><a href="#">artist</a></li>
                                <li id="topTrack"><a href="#">track</a></li>
                            </ul>
                        </li>
                        <li id="sms" title="Share music"><a href="#"><i class="fa fa-share-alt"></i></a></li>

                        <li class="dropdown" id="shareMenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="share"><i class="fa fa-share-square"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onClick=" share('fb');return false; "><i class="fa fa-facebook-square"></i> Facebook</a></li>
                                <li><a href="#" onClick=" share('tw');return false; "><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#" onClick=" share('gp');return false; "><i class="fa fa-google-plus-square"></i> Google Plus</a></li>
                                <li><a href="#" onClick=" share('c');return false; "><i class="fa fa-link"></i> Copy Link</a></li>
                            </ul>
                        </li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">genres<b class="caret"></b></a>
                            <ul class="dropdown-menu" id="tags">

                                <li><a href="/tag/alternative" class="removehref" onClick=" return false; " data-tag="alternative">Alternative</a></li>
                                <li><a href="/tag/blues" class="removehref" onClick=" return false; " data-tag="blues">Blues</a></li>
                                <li><a href="/tag/christian" class="removehref" onClick=" return false; " data-tag="christian">Christian</a></li>
                                <li><a href="/tag/classical" class="removehref" onClick=" return false; " data-tag="classical">Classical</a></li>
                                <li><a href="/tag/country" class="removehref" onClick=" return false; " data-tag="country">Country</a></li>
                                <li><a href="/tag/dance" class="removehref" onClick=" return false; " data-tag="dance">Dance</a></li>
                                <li><a href="/tag/easy-listening" class="removehref" onClick=" return false; " data-tag="easy listening">Easy Listening</a></li>
                                <li><a href="/tag/electronic" class="removehref" onClick=" return false; " data-tag="electronic">Electronic</a></li>
                                <li><a href="/tag/hip-hop" class="removehref" onClick=" return false; " data-tag="hip-hop">Hip-Hop</a></li>
                                <li><a href="/tag/indie-pop" class="removehref" onClick=" return false; " data-tag="indie pop">Indie Pop</a></li>
                                <li><a href="/tag/instrumental" class="removehref" onClick=" return false; " data-tag="instrumental">Instrumental</a></li>
                                <li><a href="/tag/japanese" class="removehref" onClick=" return false; " data-tag="japanese">Japanese</a></li>
                                <li><a href="/tag/jazz" class="removehref" onClick=" return false; " data-tag="jazz">Jazz</a></li>
                                <li><a href="/tag/latino" class="removehref" onClick=" return false; " data-tag="latino">Latino</a></li>
                                <li><a href="/tag/opera" class="removehref" onClick=" return false; " data-tag="opera">Opera</a></li>
                                <li><a href="/tag/pop" class="removehref" onClick=" return false; " data-tag="pop">Pop</a></li>
                                <li><a href="/tag/reggae" class="removehref" onClick=" return false; " data-tag="reggae">Reggae</a></li>
                                <li><a href="/tag/rock" class="removehref" onClick=" return false; " data-tag="rock">Rock</a></li>
                                <li><a href="/tag/rap" class="removehref" onClick=" return false; " data-tag="rap">Rap</a></li>
                                <li><a href="/tag/soundtrack" class="removehref" onClick=" return false; " data-tag="soundtrack">Soundtrack</a></li>
                                <li><a href="/tag/world" class="removehref" onClick=" return false; " data-tag="world">World</a></li>

                            </ul>
                        </li>



                        <li id="nowPlaying"><a href="#" onClick=" return false; ">now playing</a></li>



                    </ul>
                    <!--
                    <ul class="nav navbar-nav navbar-right">
                        <li  id="menuLogin">
                          <a  href="#" id="navLogin">login</a>                         
                        </li>
                    </ul>
                        -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Houssem <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onClick=" myPlaylist(); "><i class="fa fa-folder-open-o"></i> music_folder</a></li>
                                <li><a href="#" onClick=" changePassword(); "><i class="fa fa-lock"></i> change_password</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onClick=" profile(); "><i class="fa fa-user"></i> profile</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/music/logout" id="navLogin"><i class="fa fa-sign-out"></i> logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                   
                   
                </div>
            </div>

         

            <div class="navbar navbar-default" style="margin-top:0px;;z-index:998">
           
                    <div class="col-md-3" style="padding-top:15px" id="controls">
                    	
	                        <button class="btn btn-primary" id="play" onClick="playNextSong(0)"><i class="fa fa-play"></i></button>
	                        <button class="btn btn-primary" id="pause" style="display:none" onClick="pause();"><i class="fa fa-pause"></i></button>
	                        <button class="btn btn-primary btn-sm" onClick="playBackSong();"><i class="fa fa-step-backward"></i></button>
	                        <button class="btn btn-primary btn-sm" onClick="playNextSong();"><i class="fa fa-step-forward"></i></button>
	                        
	                     
                        
                    </div>                    
                    <div class="col-md-9"  style="padding-top:5px"> 
  
                        <div class="btn-group" style="margin-bottom:2px">
                            <span class="" disabled id="artistInfo">&nbsp;</span>
                            <span class="" disabled><i class="fa fa-angle-double-right"></i></span>
                            <span class="" disabled id="trackInfo">&nbsp;</span>
                            <span class="" disabled><i class="fa fa-angle-double-right"></i></span>
                            <span class="" disabled id="loaded">&nbsp;</span>
                           
                        </div>
                         <span class="pull-right" disabled id="tracktime">00:00</span> 
                         <span class="pull-right" disabled>/</span>
                         <span class="pull-right" disabled id="tracktime2">00:00</span> 
                        <div id="current" class="progress" style="margin-bottom:1px;height:16px">
                          <div class="progress-bar progress-bar-success" style="width: 0%;height:10px;margin-top:3px;"></div>
                          
                        </div>
                        <div id="buffer" class="progress" style="height:2px;cursor:wait">
						  <div class="progress-bar progress-bar-info" style="width: 0%;cursor:wait"></div>
						</div>
                    </div>                    
                            
            </div>       
              
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">      	
	            <div class="row">               
	                <div class="col-md-12 well">
	                    <div class="input-group input-group">                        
	                        <input autocomplete="OFF"  type="text" class="form-control"  id="s" placeholder="listen" value="">
	                        <span class="input-group-btn">
	                            <button class="btn btn-success" id="btnSearch" type="button">search<i class="fa fa-search"></i></button>
	                        </span>
	                    </div>                  
					</div>
				</div>
			</div>
            <div class="page-content inset" id="target">      			
            <script>
                getTopArtist();
            </script>

            
            </div>
            <div class="clearfix"></div>
            
              <div style="text-align:center;width:100%">
                Houssem Ben Dhaou - ASP.NET MVC
              </div>         
        </div>

    </div>

    <div class="modal" id="popup">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
              <h4 class="modal-title">Music</h4>           
          </div>
          <div class="modal-body">
                <center>
                    
                </center>
          </div>          
        </div>
      </div>
    </div>

     <div class="modal" id="importPlayList">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
              <h4 class="modal-title">import playlist</h4>           
          </div>
          <div class="modal-body">                
                <div class="alert alert-info">select json<br><strong>target</strong> <span id="pltrg"></span></div>
                <input type="file" id="files" name="files" />
          </div>          
        </div>
      </div>
    </div>

    <div class="modal" id="customShare">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
              <h4 class="modal-title">share</h4>           
          </div>
          <div class="modal-body">                     
                <textarea readonly style="width:100%; min-height: 100px;"></textarea>
                <p>Copy and share link</p>
          </div>          
        </div>
      </div>
    </div>

     <div class="modal" id="savePlaylistModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
              <h4 class="modal-title">new playlist</h4>           
          </div>
          <div class="modal-body">   
                <div class="alert alert-info">
                   save playlist 
                </div>                  
             
                <div class="form-group">
                  <label for="namePlaylist"> name_playlist </label>
                  <input type="text" class="form-control" id="namePlaylist" placeholder=" name playlist ">
                </div>               
                <button type="button" onClick="savePlayListDB()" class="btn btn-default pull-right"> save_playlist </button>
                <div class="clearfix"></div>
              
          </div>          
        </div>
      </div>
    </div>

    
    <div class="modal" id="loginModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
              <h4 class="modal-title"> login </h4>           
          </div>
          <div class="modal-body loginModal">
              <form class="form-signin" role="form">
                <div id="loginForm" >
                  <h3 class="form-signin-heading"> sing_in </h3>
                  <input type="email" name="email" class="form-control" placeholder=" email " required autofocus>
                  <input type="password" name="password1" class="form-control" placeholder=" password " required>          
                  <a href="#" onClick="$('#recoveryForm').slideDown();$('#loginForm').slideUp();$('#registerForm').slideUp();">¡ recovery password !</a>
                  <button  onClick="login();" class="btn btn-primary" style="width:100%;margin-top:10px;margin-bottom:10px" type="button"> label_login </button>                          
                </div>
                <div id="registerForm" style="display:none" >
                                
                </div>

                <div id="recoveryForm" style="display:none" >
                  <h3 class="form-signin-heading"> recovery password </h3>
                  <input type="email" name="email" class="form-control" placeholder=" email " required autofocus>                  
                  <button  onClick="recoveryPassword();" class="btn btn-danger" style="width:100%" type="button"> send me password </button>
                  <hr>
                </div>

                <button onClick="$('#recoveryForm').slideUp();$('#loginForm').slideDown();$('#registerForm').slideUp();$('.btnregister').fadeIn(500);$('.btnlogin').fadeOut(500);"  class="btn btn-primary btn-block btnlogin" style="display:none" type="button"> login </button>
                <button onClick="$('#recoveryForm').slideUp();$('#loginForm').slideUp();$('#registerForm').slideDown();$('.btnregister').fadeOut(500);$('.btnlogin').fadeIn(500);" class="btn btn-info pull-right btn-block btnregister"  type="button"> register </button>
                <div class="clearfix"></div>
              </form>
              
          </div>          
        </div>
      </div>
    </div>

<div class="modal" id="chPasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> change password</h4>
            </div>
            <div class="modal-body loginModal">
                <form class="form-signin" role="form">
                    <div id="changePasswordForm">
                        <h3 class="form-signin-heading"> change password </h3>
                        <input type="password" name="password1" class="form-control" placeholder=" password " required>
                        <input type="password" name="password2" class="form-control" placeholder=" password_repeat " required>
                        <button onClick=" change(); " class="btn btn-primary" style="width: 100%; margin-top: 10px; margin-bottom: 10px" type="button"> change_password </button>
                    </div>


                    <div class="clearfix"></div>
                </form>

            </div>
        </div>
    </div>
</div>


    
       <div class="modal" id="smsmodel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
              <h4 class="modal-title"> Share to friends</h4>           
          </div>
          <div class="modal-body loginModal">
              <form class="form-signin" role="form">
                <div id="smsform" >
                  <h3 class="form-signin-heading">Phone Number </h3>                  
                  <input name="phone" class="form-control" placeholder=" PhoneNumber " required>
                    <button onClick=" smsRequest(); " class="btn btn-primary" style="width: 100%; margin-top: 10px; margin-bottom: 10px" type="button" id="smsbutton"><i class="fa fa-envelope-o"></i> Send SMS </button>
                    <button  onClick="callRequest();" class="btn btn-warning" style="width:100%;margin-top:10px;margin-bottom:10px" type="button" id="callbutton"><i class="fa fa-phone"></i> Call </button>
                </div>

                
                <div class="clearfix"></div>
              </form>
              
          </div>          
        </div>
      </div>
    </div>

<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">add_to</a>
        <ul class="dropdown-menu" id="playlistSaved">          
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">playlist</a>
        <ul class="dropdown-menu" id="changePlaylist2">          
            
        </ul>
      </li>
      
        <li class="divider"></li>
        <li onClick="myPlaylist();" ><a href="#"><i class="fa fa-folder-open-o"></i> music_folder</a></li>
        <li class="divider"></li>
      <li><a tabindex="-1" data-action="remove" href="#"><i class="fa fa-trash-o"></i> remove_item</a></li>
      <li><a tabindex="-1" data-action="playThis" href="#"><i class="fa fa-play"></i> playnow</a></li>
      
        <li><a tabindex="-1" data-action="getlyric" href="#"><i class="fa fa-align-center"></i> lyrics</a></li>
    </ul>



    <form method="POST" id="export" action="/music/exportPlayList" class="hide" target="_blank">
        <textarea name="list"></textarea>
        <button type="submit"></button>
    </form>

    <!-- JavaScript --> 
    @RenderPage("~/Views/Shared/footer.cshtml")
  
    <script src="/Scripts/bootstrap.min.js"></script>    
    <script src="/Scripts/bootstrap-slider.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/Scripts/bootstrap3-typeahead.js"></script>
    <script src="/plugins/notify.js"></script>
    <script src="/Scripts/sort.js"></script>
    <script src="/Scripts/menu.js"></script>
    
    <script src="/Scripts/custom.js"></script>
    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    $("#trgPlaylist").on('click', function(event) {        
        event.preventDefault();
        $("#playlist").slideToggle(0);
    });
    
    </script>
    
    

</body>
</html>
